// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&display=swap');
html {

    font-family: "Open Sans";
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font: 1.1em Arial, Helvetica, sans-serif;
}
.block {

    align-items: flex-start;
    width: 100%;
    background-color: #ffffff;

}
.title {

    color: darkred;
    font-size: 40px;
    font-weight: 700;
    height:20%;
    width:100%;
    text-align: center;

    position:center;
    font-size: 30px;
}
.subtitle {

    color:black;

    text-align: center;
    font-weight: 500;
    height:20%;
    width:102%;


    position:center;
    font-size: 20px;
}

.pict {
        height: 70px;
        width: 172px;

}
.block1 {

    align-items: flex-start;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    display: block;


}
.block2{
    width:93%;
    height: 100%;
    column-count: 4;
    column-gap: 1em;
    border-width:1px;
    border-style:solid;
    border-color: #ffffff;
    margin: 0 auto;
    flex: auto;


}
.image{

    display: grid ;

    margin-bottom: 20px;
    border-radius: 5px;


}
.image img{
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 5px;


}
.btn-download {

    border-radius: 5px;
    position: absolute;

}
.button {
    display: block;
    border-radius: 5px;
    position:center;
    margin-bottom: 10px;
}
.text-center{
    text-align: center;

}
.form-control{
    text-align: center;
    margin: auto;
    display: block;

}
.image-border{
    border: 10px;
}

.navbar-brand{
    height: 60px;
    width: 90px;
}
